<h2> Create your profile: </h2>
<form class="form-horizontal" novalidate [formGroup]="createForm">
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="profileUName">User Name:</label>
      <div class="col-md-8">
      <input class="form-control" type="text" id="profileUName" formControlName="profileUName">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="profileFPassword">Create Password:</label>
      <div class="col-md-8">
      <input class="form-control" type="password" id="profileFPassword" formControlName="profileFPassword">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="profileCPassword">Confirm Password:</label>
      <div class="col-md-8">
      <input class="form-control" type="password" id="profileCPassword" formControlName="profileCPassword">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="profileAge">Age:</label>
      <div class="col-md-8">
      <input class="form-control" type="text" id="profileAge" formControlName="profileAge">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="profileSex">Sex:</label>
      <div class="col-md-8">
      <input class="form-control" type="text" id="profileAge" formControlName="profileAge">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="profileOccupation">Occupation:</label>
      <div class="col-md-8">
      <input class="form-control" type="text" id="profileOccupation" formControlName="profileOccupation">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="profileMobile">Phone number:</label>
      <div class="col-md-8">
      <input class="form-control" type="text" id="profileMobile" formControlName="profileMobile">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="profileEmail">email Address</label>
      <div class="col-md-8">
      <input class="form-control" type="text" id="profileEmail" formControlName="profileEmail">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" id="profileSave">Save</button> 
    </div>
  </fieldset>
  <br>Dirty {{createForm.dirty}}
  <br>Touched {{createForm.touched}}
  <br>Valid {{createForm.valid}}
  <br>value {{createForm.value| json}}
</form>