<h2> Create your profile: </h2>
<form>
  <label for="profile-UName">User Name:</label>
  <input type="text" id="profile-UName" name="profile-UName">
  <label for="profile-FPassword">Create Password:</label>
  <input type="password" id="profile-FPassword" name="profile-FPassword">
  <label for="profile-CPassword">Confirm Password:</label>
  <input type="password" id="profile-CPassword" name="profile-Password">
  <label for="profile-Age">Age:</label>
  <input type="text" id="profile-Age" name="profile-Age">
  <label for="profile-Sex">Sex:</label>
  <input type="text" id="profile-Age" name="profile-Age">
  <label for="profile-Occupation">Occupation:</label>
  <input type="text" id="profile-Occupation" name="profile-Occupation">
  <label for="profile-Mobie">Phone number:</label>
  <input type="text" id="profile-Mobie" name="profile-Mobie">
  <label for="profile-Email">email Address</label>
  <input type="text" id="profile-Email" name="profile-Email">
  <input type="button" id="profile-Save" value="Save">
</form>